.newsContainer {
  padding: 2rem;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;

  @media (max-width: 600px) {
    padding: 1rem;
  }
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.newsCard {
  border: 1px solid var(--shadow-color);
  border-radius: 12px;
  padding: 1rem;
  background-color: var(--item-bg-color);
  box-shadow: 0 2px 5px var(--shadow-color);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;

  &:hover {
    box-shadow: 0 8px 16px var(--shadow-color);
    border-color: var(--accent-color);
  }

  h2 {
    font-size: 1.2rem;
    color: var(--text-color);
  }

  p {
    margin: 0.5rem 0;
    color: var(--caption-color);
  }

  button {
    margin-top: 0.5rem;
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #005ac1; /* чуть темнее */
    }
  }
}

.newsImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px var(--shadow-color);
  transition: box-shadow 0.3s ease;
}
